@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md w-full !important;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-purple-900;
}

table.product-table {
  @apply w-full bg-white rounded-md shadow-md;
}

table.product-table thead tr td {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4;
}

table.product-table tr td {
  @apply px-4 py-1;
}

table.product-table a {
  @apply bg-gray-600 text-white text-sm py-1 px-2 
  rounded-sm inline-flex gap-1 mx-1;
}

.btn-default,
.btn-red,
.btn-blue {
  @apply px-4 py-1 rounded-sm text-white;
}

.btn-red {
  @apply bg-red-800 !important;
}

.btn-blue {
  @apply bg-primary !important;
}

.btn-default {
  @apply bg-gray-600 !important;
}

h1 {
  @apply text-lg font-bold !important;
}

img {
  max-height: 100%;
}
